{% extends "layout.html" %}
{% block body %}
<script>
	var todayDate = moment().startOf('day');
	var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
	var TODAY = todayDate.format('YYYY-MM-DD');
	var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');
	
	var eventSource = '/turniweb/api/v1/events';
	
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
			now: TODAY,
			editable: true,
			aspectRatio: 1.8,
			scrollTime: '00:00',
			//slotDuration: '00:30:00',
			snapDuration: '00:30:00',
			header: {
				left: 'today prev,next',
				center: 'title',
				right: 'timelineDay,timelineWeek,month'
			},
			allDayDefault : false,
			businessHours: {
				// days of week. an array of zero-based day of week integers (0=Sunday)
				dow: [ 0, 1, 2, 3, 4, 5, 6 ], // Monday - Thursday

				start: '06:00', // a start time (10am in this example)
				end: '22:00', // an end time (6pm in this example)
			},
			defaultView: 'timelineWeek',
			nowIndicator  : true,
			allDaySlot : false,
			eventClick: function(event, jsEvent, view) {
				show(event);
				// change the border color just for fun
				//$(this).css('border-color', 'red');
			},
			eventResize: function(event, delta, revertFunc) {
				if (update(event)) {
					//refresh(event);
					refetchEventSources();
				} else {
					revertFunc();
				}
			},
			eventDrop: function(event, delta, revertFunc) {
				if (update(event)) {
					//refresh(event);
					refetchEventSources();
				} else {
					revertFunc();
				}

			},
			selectable: true,
			select: function(start, end, jsEvent, view, resource) {
				add(start, end, resource);
			},
			views: {
				timelineThreeDays: {
					type: 'timeline',
					duration: { days: 3 }
				}
			},
			selectable: true,
			minTime: '06:00:00',
			maxTime: '22:00:00',
			resourceAreaWidth: '20%',
			resourceColumns: [
				{
					labelText: 'Dipendente',
					field: 'title'
				}
			],
			resources: {
				url: '/turniweb/api/v1/dipendenti',
				type: 'GET'
			},
			events: eventSource
		});
	});
	
	function GetCalendarDateRange() {
        var calendar = $('#calendar').fullCalendar('getCalendar');
        var view = calendar.view;
        var start = view.start._d;
        var end = view.end._d;
        var dates = { start: start, end: end };
        return dates;
    }
	
	function refresh(event) {
		event.title = event.desc + ' ' + event.start.format("HH:mm") + '-' + event.end.format("HH:mm");
	}
	
	function show(event) {
		var eventId = event.id;

		$(".modal-title").text( 'Modifica' );
		$(".modal-body #lblDipendente").text( event.resource );
		$(".modal-body #cmbType").val( event.type );
		toggle(event.type);
		$(".modal-body #cmbType").attr( 'disabled', true );
		$(".modal-body #eventId").val( eventId );
		$(".modal-body #resourceId").val( event.resourceId );
		$(".modal-body #dataInizio").val( moment(event.start).format("YYYY-MM-DD") );
		$(".modal-body #oraInizio").val( moment(event.start).format("HH:mm") );
		$(".modal-body #dataFine").val( moment(event.end).format("YYYY-MM-DD") );
		$(".modal-body #oraFine").val( moment(event.end).format("HH:mm") );
		if(event.type == "A") {
			$(".modal-body #cmbMotivo").val( event.motivo_id );
		} else {
			$(".modal-body #cmbReparto").val( event.desc );
		}
		$(".modal-body #ggInt").prop('checked', event.allDay == 1);
		$('#btnDelete').show();
		$('#myModal').modal('show');
	}
	
	function update(event) {
		var url= (event.type=='A' ? '/turniweb/api/v1/upd_assenza' : '/turniweb/api/v1/upd_presenza');
		
		var jqxhr = $.post(url, {
			id:event.id, 
			inizio:event.start.format(), 
			fine:event.end.format(),
			reparto:event.desc
		});
		return true;
	}
	
	function add(start, end, resource) {
		$(".modal-title").text( 'Nuovo' );
		$(".modal-body #cmbType").attr( 'disabled', false );
		$(".modal-body #eventId").val( '' );
		$(".modal-body #lblDipendente").text( resource.title );
		$(".modal-body #resourceId").val( resource.id );
		$(".modal-body #dataInizio").val( moment(start).format("YYYY-MM-DD") );
		$(".modal-body #oraInizio").val( moment(start).format("HH:mm") );
		$(".modal-body #dataFine").val( moment(end).format("YYYY-MM-DD") );
		$(".modal-body #oraFine").val( moment(end).format("HH:mm") );
		$('#btnDelete').hide();
		$('#myModal').modal('show');
	}
</script>

<button type="button" id="btnShowStampa" class="btn btn-default"><span class="glyphicon glyphicon-print">&nbsp;</span>Stampa</button><br />
<div id='calendar'></div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nuovo</h4>
      </div>
      <div class="modal-body form-inline">
		<div class="row">
			<div class="col-md-12">
				<h4 id="lblDipendente"></h4>
				<input type="hidden" name="eventId" id="eventId" value=""/><br />
				<input type="hidden" name="resourceId" id="resourceId" value=""/><br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				&nbsp;
			</div>
			<div class="col-md-10">
				<select class="form-control" id="cmbType">
					<option selected value="P">Turno</option>
					<option value="A">Assenza</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label>da:</label>
			</div>
			<div class="col-md-11">
				<input class="form-control" type="date" name="dataInizio" id="dataInizio" value=""/>
				<input class="form-control" type="time" name="oraInizio" id="oraInizio" value=""/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label>a:</label>
			</div>
			<div class="col-md-11">
				<input class="form-control" type="date" name="dataFine" id="dataFine" value=""/>
				<input class="form-control" type="time" name="oraFine" id="oraFine" value=""/><br />
			</div>
		</div>
		<div class="row" id="rowReparti">
			<div class="col-md-1">
				<label>reparto:</label>
			</div>
			<div class="col-md-11">
				<select class="form-control" name="reparto" id="cmbReparto">
					{% for r in reparti %}
						<option value="{{ r.nome }}">{{ r.nome }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row" id="rowMotivi" style="display: none;">
			<div class="col-md-1">
				<label>motivo:</label>
			</div>
			<div class="col-md-5">
				<select class="form-control" name="motivo" id="cmbMotivo">
					{% for m in motivi %}
						<option value="{{ m.id }}">{{ m.descrizione }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-5">
				<label>giornata intera:</label>
				<input type="checkbox" class="form-control" name="ggInt" id="ggInt" />
			</div>
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" id="btnDelete" class="btn btn-danger">Elimina</button>
		<button type="button" id="btnSave" class="btn btn-success">Salva</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="printModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stampa</h4>
      </div>
      <div class="modal-body">
		<div class="row" id="rowReparti">
			<div class="col-md-11">
				{% for r in reparti %}
					<input type="checkbox" class="chkStampaReparti" value="{{ r.nome }}" /><label>{{ r.nome }}</label><br />
				{% endfor %}
				</select>
			</div>
		</div>
      </div>
	  <div class="modal-footer">
		<button type="button" id="btnStampa" class="btn btn-default"><span class="glyphicon glyphicon-print">&nbsp;</span>Stampa</button>
	  </div>
    </div>
  </div>
</div>
<script>
	$('#cmbType').on('change', function() {
		var type = $( "#cmbType" ).val();
		toggle(type);
	});
	
	$('#btnShowStampa').on('click', function() {
		$('#printModal').modal('show');
	});
	
	$('#btnStampa').on('click', function() {
		var reparti=[];
		$('.chkStampaReparti').each(function( index, checkbox ) {
			if($(checkbox).is(':checked')) {
				reparti.push( $(checkbox).val() );
			}
		});
		if( reparti.length > 0 ) {
			var range = GetCalendarDateRange();
			var url = '/stampa?start=' + moment(range.start).format('YYYY-MM-DD') + '&end=' + moment(range.end).format('YYYY-MM-DD') + '&reparti=' + reparti.join();
			$('#printModal').modal('hide');
			window.open(url,'_blank');
		} else {
			alert('Seleziona almeno un reparto!');
		}
	});
	
	function toggle(type) {
		if(type=="A") {
			$("#rowReparti").hide();
			$("#rowMotivi").show();
		} else {
			$("#rowReparti").show();
			$("#rowMotivi").hide();
		}
	}
	
	$('#btnDelete').on('click', function() {
		if (!confirm('Eliminare?')) {
			return false;
		}
		var type = $( "#cmbType" ).val();
		var eventId = $(".modal-body #eventId").val();
		var url = (type=='A' ? '/turniweb/api/v1/del_assenza' : '/turniweb/api/v1/del_presenza');
		

		// elimina turno
		var jqxhr = $.post(url, {
			id:eventId
		});
		jqxhr.success(function( data ) {
			$('#myModal').modal('hide');
			refetchEventSources();
		});
		jqxhr.fail(function( data ) {
			alert( data.error_message );
		});
	});
	
	$('#btnSave').on('click', function() {
		var type = $( "#cmbType" ).val();
		var action = ($(".modal-body #eventId").val() == '' ? 'new' : 'upd');
		var url = (type=='A' ? '/turniweb/api/v1/'+action+'_assenza' : '/turniweb/api/v1/'+action+'_presenza');
		var eventId = $(".modal-body #eventId").val();
		var resourceId = $(".modal-body #resourceId").val();
		var dataInizio = $(".modal-body #dataInizio").val();
		var oraInizio = $(".modal-body #oraInizio").val();
		var dataFine = $(".modal-body #dataFine").val();
		var oraFine = $(".modal-body #oraFine").val();
		var giornataIntera = ( $(".modal-body #ggInt").is(':checked') ? 1 : 0 );
		
		if(type=='P') {
			// inserisci/modifica turno
			var reparto=$(".modal-body #cmbReparto").val();
			var jqxhr = $.post(url, {
				id:eventId,
				resourceId:resourceId, 
				inizio:moment(dataInizio + 'T' + oraInizio).format(), 
				fine:moment(dataFine + 'T' + oraFine).format(),
				reparto:reparto
			});
			jqxhr.success(function( data ) {
				$('#myModal').modal('hide');
				refetchEventSources();
			});
			jqxhr.fail(function( data ) {
				alert( data.error_message );
			});
		} else {
			// inserisci/modifica assenza
			var motivo = $('.modal-body #cmbMotivo').val();
			var jqxhr = $.post(url, {
				id:eventId,
				resourceId:resourceId, 
				inizio:moment(dataInizio + 'T' + oraInizio).format(), 
				fine:moment(dataFine + 'T' + oraFine).format(),
				motivo:motivo,
				giornataIntera:giornataIntera
			});
			jqxhr.success(function( data ) {
				$('#myModal').modal('hide');
				refetchEventSources();
			});
			jqxhr.fail(function( data ) {
				alert( data.error_message );
			});
		}
	});
	
	$('#ggInt').on('change', function() {
		if($(this).is(':checked')) {
			$(".modal-body #oraInizio").val('00:00');
			$(".modal-body #oraFine").val('23:59');
		}
		$(".modal-body #oraInizio").attr( 'disabled', $(this).is(':checked') );
		$(".modal-body #oraFine").attr( 'disabled', $(this).is(':checked') );
	});
	
	function refetchEventSources() {
		//alert(sources);
		$('#calendar').fullCalendar( 'refetchEventSources', eventSource );
	}
</script>
{% endblock %}